{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo-container">

            <svg xmlns="http://www.w3.org/2000/svg" width="144.84" height="60" viewBox="0 0 144.84 60">
                <g id="Group_191" data-name="Group 191" transform="translate(102 417)">
                    <g id="Group_5" data-name="Group 5" transform="translate(36 -415.645)">
                        <circle id="Ellipse_7" data-name="Ellipse 7" cx="1.495" cy="1.495" r="1.495"
                            transform="translate(0 0.468) rotate(-9)" fill="#fff" />
                        <circle id="Ellipse_6" data-name="Ellipse 6" cx="1.495" cy="1.495" r="1.495"
                            transform="translate(3.42 2.953) rotate(-9)" fill="#fff" />
                    </g>
                    <g id="Group_3" data-name="Group 3" transform="translate(-58.343 -399.994)">
                        <path id="Path_3781" data-name="Path 3781"
                            d="M772.287,480.577s-3.519-1.459-5.361.687-2.932,11.97,0,13.708,7.783,1.171,9.547,0c0,0-3.767,1.918.024-.017s12.7-24.967,13.112-25.269a3.281,3.281,0,0,1,3.187,0c.994.78,1.246,25.924,1.246,25.924"
                            transform="translate(-765.112 -469.261)" fill="none" stroke="#ff2424" stroke-linecap="round"
                            stroke-width="3" />
                        <path id="Path_3782" data-name="Path 3782" d="M2844.48-665.825c-.506-.127-4.877,0-4.877,0"
                            transform="translate(-2817.51 678.681)" fill="none" stroke="#ff2424" stroke-linecap="round"
                            stroke-width="3" />
                    </g>
                    <g id="Group_4" data-name="Group 4" transform="translate(-102 -417)">
                        <text id="T" transform="translate(0 45)" fill="#fff" font-size="50"
                            font-family="../Balsamiq_Sans/BalsamiqSans-Italic" font-style="italic">
                            <tspan x="0" y="0">T</tspan>
                        </text>
                        <text id="i" transform="translate(28.794 45)" fill="#fff" font-size="50"
                            font-family="BalsamiqSans-Italic, Balsamiq Sans" font-style="italic">
                            <tspan x="0" y="0">i</tspan>
                        </text>
                        <text id="r" transform="translate(76.367 45)" fill="#fff" font-size="50"
                            font-family="BalsamiqSans-Italic, Balsamiq Sans" font-style="italic">
                            <tspan x="0" y="0">r</tspan>
                        </text>
                        <text id="e" transform="translate(95.398 43)" fill="#fff" font-size="48"
                            font-family="BalsamiqSans-Italic, Balsamiq Sans" font-style="italic">
                            <tspan x="0" y="0">e</tspan>
                        </text>
                        <text id="t-2" data-name="t" transform="translate(123.696 45)" fill="#fff" font-size="50"
                            font-family="BalsamiqSans-Italic, Balsamiq Sans" font-style="italic">
                            <tspan x="0" y="0">t</tspan>
                        </text>
                    </g>
                </g>
            </svg>

        </div>
        <div class="options-container">
            <a href="" class="nav-link">

                <svg xmlns="http://www.w3.org/2000/svg" width="19.077" height="25.436" viewBox="0 0 19.077 25.436">
                    <path id="Icon_awesome-map-marker-alt" data-name="Icon awesome-map-marker-alt"
                        d="M8.558,24.923C1.34,14.458,0,13.384,0,9.539a9.539,9.539,0,0,1,19.077,0c0,3.846-1.34,4.92-8.558,15.384a1.193,1.193,0,0,1-1.961,0Zm.98-11.41A3.974,3.974,0,1,0,5.564,9.539,3.974,3.974,0,0,0,9.539,13.513Z"
                        fill="#fff" />
                </svg>

            </a>
            <a href="" class="nav-link login">

               Login

            </a>
            <a href="" class="nav-link profile">

                <svg xmlns="http://www.w3.org/2000/svg" width="16.964" height="11.865" viewBox="0 0 16.964 11.865">
                    <g id="Group_11" data-name="Group 11" transform="translate(-1685.5 -88.5)">
                        <line id="Line_1" data-name="Line 1" x2="14.964" transform="translate(1686.5 89.5)" fill="none"
                            stroke="#333" stroke-linecap="round" stroke-width="2" />
                        <line id="Line_2" data-name="Line 2" x2="14.964" transform="translate(1686.5 94.433)"
                            fill="none" stroke="#333" stroke-linecap="round" stroke-width="2" />
                        <line id="Line_3" data-name="Line 3" x2="14.964" transform="translate(1686.5 99.365)"
                            fill="none" stroke="#333" stroke-linecap="round" stroke-width="2" />
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25.946" viewBox="0 0 25 25.946">
                    <g id="Group_305" data-name="Group 305" transform="translate(-1729 -85)">
                        <circle id="Ellipse_9" data-name="Ellipse 9" cx="12.5" cy="12.5" r="12.5"
                            transform="translate(1729 85)" fill="#333" />
                        <path id="Icon_awesome-user-alt" data-name="Icon awesome-user-alt"
                            d="M10.438,12.2A5.991,5.991,0,0,0,16.31,6.1,5.991,5.991,0,0,0,10.438,0,5.991,5.991,0,0,0,4.567,6.1,5.991,5.991,0,0,0,10.438,12.2Zm5.219,1.356H13.411a6.857,6.857,0,0,1-5.945,0H5.219A5.323,5.323,0,0,0,0,18.978v.678a2,2,0,0,0,1.957,2.033H18.919a2,2,0,0,0,1.957-2.033v-.678A5.323,5.323,0,0,0,15.657,13.556Z"
                            transform="translate(1731.062 89.256)" fill="#fefefe" />
                    </g>
                </svg>

            </a>
           
        </div>
    </header>
    {% block content %}{% endblock %}
</body>

</html>