{% extends "base.html" %}
{% block content %}
<div class="hero-container">
    <div class="resale-ticket">
        <h2 class="title">
            Wanna Sell your Ticket?
        </h2>
        <p class="p">
            sell your tickets with us in a easier way and get more points.
        </p>
        <button class="btn">
            Resale your Ticket
        </button>
    </div>
    <div class="buy-ticket">
        <h2 class="title">
            Buy your valuable Ticket
        </h2>
        <p class="p">
            Get your tickets, chill with your show and your security is our priority.
        </p>
        <button class="btn">
            Buy Our Ticket
        </button>
    </div>
</div>
{% endblock %}